<div class="alert alert-warning fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="icon-remove"></i>
    </button>
    <strong>Alert!</strong>
    <div>
        For Adding the image You must first save the form!
    </div>
</div>
