@model Mfr.Admin.Models.User.UserMainViewModel 
@using Mfr.Admin.Models
@using Mfr.Admin.Models.Product
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<!DOCTYPE html>
<body>

    <div id="example">
        <div class="demo-section k-content">
            <div id="usertabstrip">
                <ul>
                    <li class="k-state-active">
                        User Information
                    </li>
                    <li>
                        Change Password
                    </li>
                    <li>
                        User Premissions
                    </li>
                </ul>
                <div>
                    @Html.Partial("_CreateOrUpdate",
                        Model.UserViewModel)
                </div>
                <div>
                    @Html.Partial("_PasswordEdit",
                        Model.UserPasswordViewModel)
                </div>
                <div>
                    @Html.Partial("_UserPermissions",
                        Model.UserRoleViewModel)
                </div>
            </div>
        </div>
        <style>
            .k-tabstrip > .k-content {
                padding: 1em;
            }

            .specification {
                max-width: 670px;
                margin: 10px 0;
                padding: 0;
            }

                .specification dt, dd {
                    max-width: 140px;
                    float: left;
                    margin: 0;
                    padding: 5px 0 8px 0;
                }

                .specification dt {
                    clear: left;
                    width: 100px;
                    margin-right: 7px;
                    padding-right: 0;
                    opacity: 0.7;
                }

                .specification:after, .wrapper:after {
                    content: ".";
                    display: block;
                    clear: both;
                    height: 0;
                    visibility: hidden;
                }
        </style>
    </div>
    <script>
        $(document).ready(function () {
            $("#usertabstrip").kendoTabStrip({
                contentUrls: [, "../content/web/tabstrip/ajax/ajaxContent1.html", "error.html"]
            });
        });
    </script>
</body>




@section scripts
{
    <script src="~/Scripts/Kendo/jquery.min.js"></script>
    <script src="~/Scripts/Kendo/kendo.all.min.js"></script>

}

@section contents
{
    <link rel="stylesheet" href="~/Content/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.material.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.rtl.min.css" />
}

