@{
    Layout = "~/Views/Shared/_MainTopNav.cshtml";
}

<table style="width:100%">
    <tr>
        <td colspan="2">
            <p style="text-align: right; font-size: 30px;">بازیابی Password </p>
        </td>
    </tr>
    <tr>
        <td style="width: 50%">

            <p style="text-align: right; font-size: 18px;">
                Recovery Password link has been sent to you're account<br>
               Please check you're inbox for recovery link.  <br/>
                
            </p>
            <br>
            <form action="../">
                <input type="submit" class="btn btn-shadow btn-info" value="Return to home">
            </form>
        </td>

        <td style="width: 50%">
            <img src="@Url.Content("~/Content/Img/Forgot.png")" alt="Email Image" width="200" height="180" />

        </td>
    </tr>

</table>
