@{
    Layout = "~/Views/Shared/_MainTopNav.cshtml";
}

<table style="width:100%">
    <tr>
        <td colspan="2">
            <p style="text-align: right; font-size: 30px;"> Recover Password </p>
        </td>
    </tr>
    <tr>
        <td style="width: 50%">

            <p style="text-align: right; font-size: 18px;">
                 You're password has been successfully changed<br />
                <br/>now you can  login with you're new password

            </p>
            <br>
            <form action="../">
                <input type="submit" class="btn btn-shadow btn-info" value="Return to Home">
            </form>
        </td>

        <td style="width: 50%">
            <img src="@Url.Content("~/Content/Img/PassChangeSuccess.png")" alt="Email Image" width="200" height="180" />

        </td>
    </tr>

</table>
